{% load static %}
<div class="container">
<div  class="row justify-content-end top-info">
    <div class="col col-lg-12">
        <ul class="icons d-flex">
            <li class="icons__item1">Call Us: 0-800-345-678-90</li>
            <li class="icons__item">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="icons__item">
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="icons__item">
                <a href="#">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
            <li class="icons__item english lang active_lang">
                <a href="#">
                    <i class="">En</i>
                </a>
            </li>
            <li class="icons__item spanish lang">
                <a href="#">
                    <i class="">Sp</i>
                </a>
            </li>
        </ul>
    </div>
</div>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand" href="#"><img src="{% static 'img/main/logo.png' %}" width="64" height="61" alt=""/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                    <ul class="  navbar-nav  mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index-about.html">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index-portal.html">DEALERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="products.html">PRODUCTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled login" href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
</div>