{% extends 'base.html' %}
{% load static %}

{% block title %}Seminuevos Baic Inc.{% endblock %}

{% block header %}
    {% include 'header/header.html' %}
{% endblock %}

{% block content %}
<!--main content start-->

<!--section mainimg start-->
<section id="mainimg" class="mainimg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="motto">Get the TruePrice—the Actual Price You
                    Will Pay at the Dealership.</h1>
            </div>
            <div class="w-100"></div>
            <div col-lg-3><a class="btn" href="shop-now.html"><i class="btn-black">SHOP NOW</i></a></div>
        </div>
    </div>


    <div class="container-fluid justify-content-center">
        <div class="row ">
            <div class="col-lg-12 cars">
                <img  class="img-fluid animated fadeInUp" src="{% static 'img/main/cars.png' %}" width="1421" height="425" alt=""/>
            </div>
        </div>
    </div>

</section>
    <!--section mainimg end-->


    <!--section brand start-->
    <section id="brand" class="brand title-bottom-padding">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="brands title-bottom-padding">Shopping for a Car? Choose a Brand.</h1>
                </div>
            </div>
        </div>

        <div class="container carbrands ">
            <div class="row  justify-content-center">

                <!---->
                <div class="col-5 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img   src="{% static 'img/main/brands/Acura.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Acura</a></div>
                </div>
                <!---->
                <!---->
                <div class="col-5 col-lg-3 c-brand d-flex justify-content-around">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Alfa_Romeo.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Alfa Romeo</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-5 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Audi.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Audi</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-5 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/BMW.png'%}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">BMW</a></div>
                </div>
                <!---->

                <div class="w-100"></div>
                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Buick.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Buick</a></div>
                </div>
                <!---->
                <!---->
                <div class="  col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Cadillac.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Cadillac</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Chevrolet.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Chevrolet</a></div>
                </div>
                <!---->

                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Chrysler.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Chrysler</a></div>
                </div>
                <!---->
                <div class="w-100"></div>
                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Dodge.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Dodge</a></div>
                </div>
                <!---->
                <!---->
                <div class="  col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Fiat.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Fiat</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Ford.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Ford</a></div>
                </div>
                <!---->

                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Genesis.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Genesis</a></div>
                </div>
                <!---->
                <div class="w-100"></div>
                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/GMC.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">GMC</a></div>
                </div>
                <!---->
                <!---->
                <div class="  col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Honda.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Honda</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Hyundai.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Hyundai</a></div>
                </div>
                <!---->

                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Infiniti.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Infiniti</a></div>
                </div>
                <!---->
                <div class="w-100"></div>
                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Jaguar.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Jaguar</a></div>
                </div>
                <!---->
                <!---->
                <div class="  col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Jeep.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Jeep</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Kia.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Kia</a></div>
                </div>
                <!---->

                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Land_Rover.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Land Rover</a></div>
                </div>
                <!---->
                <div class="w-100"></div>
                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Lexus.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Lexus</a></div>
                </div>
                <!---->
                <!---->
                <div class="  col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Lincoln.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Lincoln</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Maserati.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Maserati</a></div>
                </div>
                <!---->

                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Mazda.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Mazda</a></div>
                </div>
                <!---->
                <div class="w-100"></div>
                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Mercedes-Benz.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Mercedes Benz</a></div>
                </div>
                <!---->
                <!---->
                <div class="  col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Mini.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Mini</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Mitsubishi.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Mitsubishi</a></div>
                </div>
                <!---->

                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Nissan.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Nissan</a></div>
                </div>
                <!---->
                <div class="w-100"></div>
                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Porsche.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Porsche</a></div>
                </div>
                <!---->
                <!---->
                <div class="  col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Ram.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Ram</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Smart.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Smart</a></div>
                </div>
                <!---->

                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex justify-content-center">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Subaru.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Subaru</a></div>
                </div>
                <!---->
                <div class="w-100"></div>
                <!---->
                <div class=" col-6 col-lg-3 c-brand d-flex ">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Toyota.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Toyota</a></div>
                </div>
                <!---->
                <!---->
                <div class="col-6 col-lg-3 c-brand d-flex ">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Volkswagen.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Volkswagen</a></div>
                </div>
                <!---->

                <!---->
                <div class="col-6  col-lg-3 c-brand d-flex ">
                    <div class="img-brand"><img src="{% static 'img/main/brands/Volvo.png' %}" class="desaturate" width="40" height="40" alt=""/></div>
                    <div class="title-brand"><a href="#">Volvo</a></div>
                </div>
                <!---->
                <!---->
                <div class="col-6  col-lg-3 c-brand d-flex ">
                    <div class="img-brand"></div>
                    <div class="title-brand"></div>
                </div>
                <!---->
            </div>
        </div>
    </section>
    <!--section brand end-->

    <!--section txt start-->
    <section id="txt" class="txt">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ">
                    <h1 class="content ">Right Car, Better Price</h1>
                    <div class="displayflex">
                        <div class="txt "><p>It’s a question on every car shopper’s mind: “How do I know that the price I see on this car is a good price?” There hasn't been a great answer to this question, until now.
                            With Seminuevos Baic, a Certified Dealer gives you an upfront, discounted price that includes all fees, accessory costs and incentives.
                            This is your Price, the price you’ll pay at the dealership. Better than any price you will find on other websites, backed by data and transparent down to the last detail.</p>
                        </div>
                        <div class="content-image">
                            <a href="#"><img   src="{% static 'img/main/content-image1.png' %}" width="426" height="351" alt=""/></a>
                        </div>
                    </div>
                    <div class="btn-red" >
                        <a class="btn" href="#"><i class="btn-red">Get the Price on Local Inventory</i></a>
                    </div>
                </div>

                <div class="col-lg-4 " >
                    <h1 class="content ">Seminuevos Baic Ratings & Reviews</h1>
                    <div class="txt">Seminuevos Baic has over 1 million owner-verified reviews. All reviews come from owners who have purchased this specific make and model. Our exclusive network of partners verifies each purchase transaction.</div><br>
                    <div class="select-review"><b>See reviews for:</b></div>
                    <div class="review displayflex">
                        <div class="select-make">
                            <select >
                                <option disabled>Choose a Make</option>
                                <option value="">Acura</option>
                                <option value="">Alfa Romeo</option>
                                <option value="">Audi</option>
                                <option value="">BMW</option>
                                <option value="">Buick</option>
                                <option value="">Cadillac</option>
                                <option value="">Chevrolet</option>
                                <option value="">Chrysler</option>
                                <option value="">Dodge</option>
                                <option value="">FIAT</option>
                                <option value="">Ford</option>
                                <option value="">Genesis</option>
                                <option value="">GMC</option>
                                <option value="">Honda</option>
                                <option value="">Hyundai</option>
                            </select>
                        </div>

                        <div class="select-model">
                            <select>
                                <option disabled>Choose a Model</option>
                                <option value="">Acura</option>
                                <option value="">Alfa Romeo</option>
                                <option value="">Audi</option>
                                <option value="">BMW</option>
                                <option value="">Buick</option>
                                <option value="">Cadillac</option>
                                <option value="">Chevrolet</option>
                                <option value="">Chrysler</option>
                                <option value="">Dodge</option>
                                <option value="">FIAT</option>
                                <option value="">Ford</option>
                                <option value="">Genesis</option>
                                <option value="">GMC</option>
                                <option value="">Honda</option>
                                <option value="">Hyundai</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-red go" ><a class="btn " href="#"><i class="btn-red">GO</i></a></div>
                </div>
            </div>
        </div>
    </section>
    <!--section txt end-->
    <br><br><br>

    <!--section txt2 start-->
    <section id="txt" class="txt">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 ">
                    <h1 class="content ">Compare. Select. Save.</h1>
                    <div class="displayflex">
                        <div class="txt "><p>Seminuevos Baic is better because over 12,000 dealers uniquely set the price in Seminuevos Baic knowing you will see their prices alongside what other people paid.
                            Our dealers know all about the Seminuevos Baic Price Curve — they can see it when they set their pricing. Because of the curve, they price their vehicles competitively so they won't lose your business.</p>
                        </div>
                        <div class="content-image"><a href="#"><img   src="{% static 'img/main/content-image2.png' %}" width="426" height="351" alt=""/></a></div>
                    </div><div class="btn-red" ><a class="btn" href="#"><i class="btn-red">Get the Price on Local Inventory</i></a></div>
                </div>
                <div class="col-lg-4 " >
                    <h1 class="content ">A Price Curve For Every Car</h1>
                    <div class="txt">Every new vehicle on Seminuevos Baic has a unique price curve data visualization that shows you what your neighbors paid for that same car: make, model, color and style.
                        This curve comes from our detailed analysis of millions of sales transactions from across the United States. Finally, you can cut through the numerical clutter of car buying and view a single validated price on the exact car or truck you want.</div><br>
                    <div class="content-image"><a href="#"><img   src="{% static 'img/main/content-image3.png' %}" width="426" height="259" alt=""/></a></div>
                    <div class="btn-red go" ><a class="btn " href="#"><i class="btn-red">Get the Price on Local Inventory</i></a></div>
                </div>
            </div>
        </div>
    </section>
    <!--section txt end-->
    <br><br>

    <!--section trust start-->
    <section id="trust" class="trust">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <h1 class="brands title-bottom-padding">Trusted to Deliver an Our Price</h1>
                </div>
                <div class="w-100"></div>
                <div class="col-lg-8">
                    <p>Since the very beginning, Seminuevos Baic has partnered with some of the largest membership organizations in the country, including USAA, Sam’s Club, American Express and Chase, giving members who use TrueCar a superiorcar-buying experience.</p>
                </div>
            </div>
        </div>

        <!--trust logos strt-->
        <div class="container">
            <div class="row justify-content-between ">
                <div class="col-lg-2 trust-logo align-self-center ">
                    <img class="img-fluid animated fadeIn" src="{% static 'img/main/trust/usaa.png' %}" width="auto" height="100px" alt=""/> </div>
                <div class="col-lg-2 trust-logo align-self-center ">
                    <img class="img-fluid animated fadeIn" src="{% static 'img/main/trust/sams.png' %}" width="auto" height="100px" alt=""/> </div>
                <div class="col-lg-2 trust-logo align-self-center ">
                    <img class="img-fluid animated fadeIn" src="{% static 'img/main/trust/all.png' %}" width="auto" height="100px" alt=""/> </div>
                <div class="col-lg-2 trust-logo align-self-center">
                    <img  class="img-fluid animated fadeIn" src="{% static 'img/main/trust/far.png' %}" width="auto" height="100px" alt=""/> </div>
                <div class="w-100"></div>
                <div class="col-lg-2 trust-logo align-self-center">
                    <img class="img-fluid animated fadeIn" src="{% static 'img/main/trust/usn.png' %}" width="auto" height="100px" alt=""/> </div>
                <div class="col-lg-2 trust-logo align-self-center">
                    <img class="img-fluid animated fadeIn" src="{% static 'img/main/trust/pen.png' %}" width="auto" height="100px" alt=""/> </div>
                <div class="col-lg-2 trust-logo align-self-center">
                    <img class="img-fluid animated fadeIn" src="{% static 'img/main/trust/ae.png' %}" width="auto" height="100px" alt=""/> </div>
                <div class="col-lg-2 trust-logo align-self-center">
                    <img class="img-fluid animated fadeIn" src="{% static 'img/main/trust/gei.png' %}" width="auto" height="100px" alt=""/> </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer/footer.html' %}
{% endblock %}